<!doctype html>
<html lang="en-US">
  <head>
    <title>A simple CMS</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <% if session[:not_found] %>
      <p><%= session.delete(:not_found) %></p>
    <% end %>

    <% if session[:success] %>
      <p><%= session.delete(:success) %></p>
    <% end %>
     
    <%= yield %>
  </body>
<html>