<form style="display:inline;" action="/users/signin" method="post">
  User name:
  <input type="text" name="username">
  Password:
  <input type="text" name="password">
  <input type="submit" value="Sign in"> 
</form>

